<div class="copy">
    <ul>
        <li>Das Mehl und die zerkleinerte Hefe in die Rührmaschine füllen.</li>
        <li>Die Maschine anschalten, Zucker und Öl zufügen und 2 Minuten rühren, dann die
            <br>verbliebenen 40 g Rote-Bete-Mus dazugeben und bis zur vollständigen <br>Aufnahme weiterrühren. Zum
            Schluss
            salzen und weitere 2 Minuten kneten.
        </li>
        <li>Die Rote Bete mit 250 g Wasser pürieren und auf 30° C erwärmen, danach 330 g
            <br>der Masse in die Rührmaschine geben.
        </li>
    </ul>

    <ol>
        <li>Von allem Anfang an hatten unsere Schär Meisterbäcker deshalb den Auftrag,<br>das beste Brot zu schaffen:
            glutenfrei selbstverständlich.
        </li>
        <li>Mittlerweile backen wir von Schär seit Jahrzehnten täglich frisches Brot, in<br>Form von Brötchen, Schnitt-,
            Knusper- oder Fladenbrot.
        </li>
        <li> Hochwertige Getreidesorten sorgen für noch mehr Vielfalt und Brotgenuss:<br>Sorghum etwa, das traditionelle
            Korn aus Afrika, oder Quinoa, das Korn der<br>Maya. Alles für Deinen besten glutenfreien Brotgenuss.
        </li>
    </ol>
</div>