.more-link {
    font-size: 20px;
    font-weight: bold;

  &__arrow {
    padding-left: rem-calc(10);
  }

  &--bottom {
    padding-bottom: 70px;
  }

  &__link {
    color: lighten($dark-gray, 15%);
  }
}