<div class="callout {{ classes }} flex-container">
    {% if icon != '' %}
        <div>
            {% include "@base/icons/icon.twig" with {"icon":  icon} %}
        </div>
    {% endif %}
    <div class="callout__text">
        {{ text }}
        <a href="{{ link }}">{{ link_text }}</a>
    </div>
</div>