<div class="grid-slider__cell">
        <div class="quote">
        <div class="quote__symbol">
            {% include "@base/icons/icon.twig" with {"icon": "ic_quote" ~ modifier } %}
        </div>
        <div class="quote__text">
            {{ text }}
        </div>
        <div class="quote__author">
            {{ author }}
        </div>
        </div>
</div>
