.accordion {
  &__title {
    position: relative;
    color: $dark-gray;
    font-size: 20px;
    font-weight: bold;
    @include vertical-spacer($vertical-medium);

    &__arrow {
      @include vertical-center();
      right: 20px;
      position: absolute;

      svg {
        stroke: $dark-gray;
        transition: transform 0.2s ease;
      }
    }
  }

  &__sub-title {
    margin-left: 18px;
  }

  div {
    padding: 0;
  }

  .is-active {
    svg {
      transform: rotate(180deg);
    }
  }
}




